:root {
  --color-primary: #666;
  --color-background: #ffffff;
  --color-text: #666666;
  --color-hover: #7dbc72;
  --color-active: darken(#7dbc72, 10%);
  --nav-height: 60px;
  --border-radius: 8px;
  --transition-speed: 0.3s;
}

.navbar {
  background-color: var(--color-background);
  padding: 0;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  height: var(--nav-height);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;

  .containerFluid {
    display: contents;
  }

  .navbarNav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    gap: 1rem;

    .navItem {
      background: var(--color-background);
      border-radius: var(--border-radius);
      transition: background-color var(--transition-speed), transform var(--transition-speed);
      display: flex;
      justify-content: center;

      &:hover,
      &.active {
        background-color: var(--color-hover);
        transform: translateY(-2px);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        text-decoration: none;
        color: var(--color-text);
        transition: background-color var(--transition-speed);

        .iconContainer {
          margin-right: 0;

          .navIcon {
            font-size: 1.5rem;
            color: var(--color-primary);

            &:hover {
              color: var(--color-active);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbarNav {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .navbarNav {
    grid-template-columns: repeat(2, 1fr);
  }
}