.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 50px; 
  background-color: #e5e5e5; 

  .containerFluid {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 100%;
  }

  .navbarNav {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;

    .navItem {
      list-style-type: none;

      &.active .navIcon {
        color: #7dbc72;
        animation: activeIcon 1.5s infinite;
      }

      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 1; 

        .iconContainer {
          .navIcon {
            font-size: 60px; 
            color: #b0b0b0;
            transition: color 0.3s, transform 0.3s; 

            &:hover {
              color: #7dbc72;
              transform: scale(1.1); 
            }
          }
        }
      }
    }
  }
}

@keyframes activeIcon {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-5px);
  }
}
