body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
    color: #fe7f00;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
    text-align: center;
    padding: 60px;
}

.form-group {
    margin-bottom: 40px;

}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #fe7f00;
    outline: 0;
    box-shadow: 0 0 5px rgba(254, 127, 0, 0.2);
}

button[type="submit"] {
    background-color: #fe7f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

button[type="button"] {
    background-color: #fe7f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #f57d00;
}
button[type="button"]:hover {
    background-color: #f57d00;
}

.form-control.active {
    border-color: #fe7f00;
}

.form-control.active+label+.border {
    width: 100%;
    background: linear-gradient(to right, #fe7f00 0%, #fe7f00 100%);
}

label {
    color: #696969;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    transition: all 0.2s linear 0s;
    transform: translateY(-100%);
    pointer-events: none;
}

.form-control[required="required"]+label:after {
    content: "*";
}

.add-product-form {
    margin-bottom: 20px;

}

.product-list {
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-item button {
    margin-left: 10px;
}